@page {
  size: Letter;
  margin-top: 2cm;
  margin-right: 1cm;
  margin-bottom: 2cm;
  margin-left: 1.5cm;
}



body {
  font-family: "Georgia", serif;
  line-height: 1.3;
  margin: 5%;
}

h1 {
  font-size: 13pt;
  text-align: justify;
}

h2 {
  font-size: 12pt;
  color: #173302;
}

p {
  text-align: justify;
  font-size: 11pt;
  /* font-family: "Arial", sans-serif; */
  margin-bottom: 1em;
}

table {
  width: 100%;            /* ocupará todo el ancho disponible */
  border-collapse: collapse;
  table-layout: fixed;    /* fuerza que las columnas se repartan proporcionalmente */
  font-size: 9pt;
  margin-bottom: 1.5em;
}

table.students {
  font-size: 10pt;
}

td, th {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
  word-wrap: break-word;  /* para que el texto largo se ajuste dentro de la celda */
}

.students th:nth-child(2),
.students td:nth-child(2),
.students th:nth-child(3),
.students td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}

.students col:nth-child(1) {
  width: 30%;
}
.students col:nth-child(2) {
  width: 5%;
}
.students col:nth-child(3) {
  width: 5%;
}

ul {
  font-size: 10pt;
  margin-left: 1.5em;
}

ol {
  font-size: 10pt;
  margin-left: 1.5em;
}

.header {
  font-size: 10pt;
  border-bottom: 1px solid #666;  
  margin-bottom: 2em;
}

.header p {
  margin: 0;
  text-align: center;
}

/* Colores por nivel de evaluación */
.excelente {
  background-color: #C8E6C9;
}

.bueno {
  background-color: #DCE775;
}

.regular {
  background-color: #FFF59D;
}

.deficiente {
  background-color: #FFCDD2;
}